main
	height: 80vh
@import fonts
@import vars

// General
html
	scroll-behavior: smooth

body
	display: block
	width: 100%
	margin: 0 auto
	background-color: #F5F5F5
	font-style: normal

input,
button
	border: none
	outline: none

h1, h2, h3, h4, h5, h6, p
	margin: 0
	font-family: $default-font
	font-style: normal

p
	font-weight: 400
	font-size: 12px
	line-height: 16px

.box
	width: 1110px
	margin: auto
.vertical,
.horizontal,
.center,
.wrap
	display: flex
.vertical
	flex-direction: column
.inline,
.center
	align-items: center
.center
	justify-content: center
.space
	justify-content: space-between
.wrap
	flex-wrap: wrap

.btn
	cursor: pointer

// Layout
.header
	&-top
		padding-top: 3px
		padding-bottom: 4px
		background-color: $green
		&__line
			gap: 20px
			.text
				font-size: 11px
				color: $white
				&#language
					font-weight: 600
					font-size: 12px
					line-height: 14px
			.inline
				gap: 5px
	&-bottom
		padding-top: 16px

.footer
	&-top
		padding-top: 52px
		background-color: $grey
	&-bottom
		padding-top: 16px
		padding-bottom: 19px
		background-color: $green
		.text
			width: 666px
			font-size: 10px
			color: #A7A7A7
			line-height: 10px

// Components
.button
	gap: 4px
	width: 100px
	height: 40px
	border-radius: 35px
	background-color: $grey
	cursor: pointer
	&-text
		color: $white

.search
	position: relative
	width: 559px
	&-icon
		position: absolute
		top: 50%
		left: 11px
		transform: translateY(-50%)
	&-input
		width: -webkit-fill-available
		padding: 11px 30px
		border: 1px solid $grey
		border-radius: 33px
		font-style: italic
		font-size: 12px
		color: #898989
		line-height: 16px
		&::placeholder
			color: #898989

.action
	gap: 2px
	&_list
		gap: 24px
	&-icon
		width: 22px
		height: 22px
		border-radius: 50%
		background-color: $grey
	&-text
		font-size: 10px
		color: #626262
